<%- include("partials/header") -%>

<% posts.forEach((post) => { %>


<form action="/delete" method="post">
    <div class="item">
        <h1><%= post.title %></h1>
        <p><%= post.body.substring(0,100)+"..." %><a name="<%= post._id %>" href="/posts/<%= post._id %>">Read more</a>
        </p>
        <input type="checkbox" name="checkbox" value="<%=post._id%>" onChange="this.form.submit()"> Delete
    </div>

</form>

<% }) %>
<%- include("partials/footer") -%>